[/]
animate-app-switch=true
animate-appicon-hover=false
animate-appicon-hover-animation-extent={'RIPPLE': 4, 'PLANK': 4, 'SIMPLE': 1}
appicon-margin=4
appicon-padding=4
appicon-style='NORMAL'
context-menu-entries='[{"title":"Terminal","cmd":"TERMINALSETTINGS"},{"title":"Files","cmd":"nautilus"},{"title":"System monitor","cmd":"gnome-system-monitor"},{"title":"Extensions","cmd":"gnome-extensions-app"}]'
dot-position='TOP'
dot-style-focused='METRO'
extension-version=68
focus-highlight=true
global-border-radius=0
group-apps=false
group-apps-label-font-size=12
hide-overview-on-startup=true
hotkeys-overlay-combo='TEMPORARILY'
intellihide=false
intellihide-key-toggle=@as []
intellihide-key-toggle-text=''
isolate-workspaces=true
leftbox-size=0
panel-anchors='{"BOE-0x00000000":"MIDDLE"}'
panel-element-positions='{"BOE-0x00000000":[{"element":"showAppsButton","visible":false,"position":"stackedTL"},{"element":"activitiesButton","visible":true,"position":"stackedTL"},{"element":"leftBox","visible":true,"position":"stackedTL"},{"element":"taskbar","visible":true,"position":"stackedTL"},{"element":"centerBox","visible":true,"position":"stackedBR"},{"element":"rightBox","visible":true,"position":"stackedBR"},{"element":"dateMenu","visible":true,"position":"stackedBR"},{"element":"systemMenu","visible":true,"position":"stackedBR"},{"element":"desktopButton","visible":false,"position":"stackedBR"}]}'
panel-lengths='{"BOE-0x00000000":100}'
panel-positions='{"BOE-0x00000000":"TOP"}'
panel-side-margins=0
panel-side-padding=0
panel-sizes='{"BOE-0x00000000":32}'
panel-top-bottom-margins=0
panel-top-bottom-padding=0
prefs-opened=true
primary-monitor='BOE-0x00000000'
scroll-icon-action='NOTHING'
scroll-panel-action='NOTHING'
secondarymenu-contains-appmenu=true
secondarymenu-contains-showdetails=false
show-favorites=false
show-favorites-all-monitors=false
show-running-apps=true
show-tooltip=true
show-window-previews=true
stockgs-keep-dash=false
stockgs-keep-top-panel=false
stockgs-panelbtn-click-only=false
taskbar-locked=false
trans-use-custom-bg=false
trans-use-custom-opacity=false
tray-padding=-1
tray-size=0
window-preview-title-position='TOP'
